@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  /* fonts */
  --font-plex: "IBM Plex Mono", monospace;
  --font-geist: "Geist", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;

  /* colors */
  --color-primary: #b9ff66;
  --color-background: oklch(0 0 0); /* #000000 */
  --color-foreground: oklch(99.7 0 0); /* #fefefe */
  --color-secondary: oklch(0.7 0 0); /* #b3b3b3 */
}

.heading {
  @apply font-bricolage tracking-[-2%] font-bold;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-geist text-foreground bg-background;
}

article {
  @apply prose prose-neutral prose-img:mx-auto prose-img:my-auto text-lg leading-8;
  @apply prose-headings:font-bold prose-headings:font-bricolage prose-headings:text-foreground mx-auto;
  @apply text-secondary prose-a:underline-offset-2;
}
