<section
  class="grid grid-cols-1 md:grid-cols-2 items-center container mx-auto min-h-screen p-6 md:p-0 gap-8"
>
  <div class="space-y-6">
    <h2 class="text-5xl md:text-9xl uppercase -mb-2">About me</h2>

    <div
      class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
    >
      <img
        src="https://images.unsplash.com/photo-1659987681308-a66cdbb811d3?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="About Me Image"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <div>
    <div class="text-lg md:text-2xl text-secondary space-y-4">
      <p>
        I'm a full-stack developer with a strong focus on building fast,
        accessible, and maintainable web applications. Over the past 6 years,
        I’ve worked on high-traffic production systems, internal tools for
        startups, and indie products used by thousands.
      </p>
      <p>
        I specialize in JavaScript, TypeScript, and modern frameworks like
        Astro, React, and Svelte — but I’m most passionate about writing clean,
        resilient code that scales.
      </p>
    </div>
  </div>
</section>
<!-- <section -->
<!--   class="grid grid-cols-1 md:grid-cols-2 items-center container mx-auto min-h-screen p-6 md:p-0 gap-8" -->
<!-- > -->
<!--   <div> -->
<!--     <h2 class="text-9xl uppercase -mb-4">About me</h2> -->
<!--     <div class="max-w-[668px] h-[516px] border border-red-400"> -->
<!--       <img src="" alt="" /> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div> -->
<!--     <div class="text-2xl text-secondary space-y-4"> -->
<!--       <p> -->
<!--         I'm a full-stack developer with a strong focus on building fast, -->
<!--         accessible, and maintainable web applications. Over the past 6 years, -->
<!--         I’ve worked on high-traffic production systems, internal tools for -->
<!--         startups, and indie products used by thousands. -->
<!--       </p> -->
<!--       <p> -->
<!--         I specialize in JavaScript, TypeScript, and modern frameworks like -->
<!--         Astro, React, and Svelte — but I’m most passionate about writing clean, -->
<!--         resilient code that scales. -->
<!--       </p> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->
