---
import { SITE } from "@consts";
---

<section
  class="grid grid-cols-1 lg:grid-cols-2 items-center container mx-auto min-h-screen p-6 md:gap-16 gap-8 pt-18 relative hero-grid-bg"
>
  <div class="flex justify-center lg:justify-start">
            <img 
              src="/robot_hero.png" 
              alt="Robot Hero" 
              class="w-full max-w-lg h-auto rounded-2xl shadow-lg"
            />
  </div>
  <div class="space-y-8">
    <h1 class="heading text-4xl md:text-6xl text-foreground">
      The people getting replaced aren’t unskilled. They’re un-updated.
    </h1>
    <p class="text-2xl text-secondary">
      Upgrade your workflow and income with modern tools like Cursor, n8n, and Convex to build systems that create results.
    </p>
    <div class="flex flex-col md:flex-row gap-2.5">
      <a
        class="w-full sm:w-auto flex items-center justify-center bg-primary text-black rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition"
        href="/projects">View Work</a
      >
      <a
        class="w-full sm:w-auto flex items-center justify-center bg-foreground text-background rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition"
        href="#Contact">Hire me</a
      >
    </div>
  </div>
</section>
