---
import BlogCard from "./BlogCard.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"blog">[] = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6);
---

<div class="overflow-hidden mb-12">
  <div class="container mx-auto mx-4">
    <div class="flex animate-scroll">
      <div class="flex shrink-0 whitespace-nowrap">
        {
          Array.from({ length: 10 }).map((_) => (
            <h2 class="heading text-5xl md:text-9xl uppercase mr-6 md:mr-18 -mb-2 scrolling-text">
              LEARN
            </h2>
          ))
        }
      </div>
      <div class="flex shrink-0 whitespace-nowrap" aria-hidden="true">
        {
          Array.from({ length: 10 }).map((_) => (
            <h2 class="heading text-5xl md:text-9xl uppercase mr-6 md:mr-18 -mb-2 scrolling-text">
              LEARN 
            </h2>
          ))
        }
      </div>
    </div>
  </div>
</div>

<section id="Projects" class="container mx-auto px-6 relative">
  <div class="absolute inset-0 -z-10 opacity-30">
    <img src="/background.svg" alt="" class="w-full h-full object-cover" />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {allPosts.map((post) => <BlogCard entry={post} />)}
    <div class="flex items-center justify-center col-span-full mt-4">
      <a
        href="/blog"
        class="flex items-center justify-center primary-gradient text-white rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:opacity-90 transition"
      >
        View More
      </a>
    </div>
  </div>
</section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
</style>
