---
import BlogCard from "./BlogCard.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"blog">[] = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6);
---

<section id="Posts" class="container mx-auto px-6 py-8 relative">
  <div class="absolute inset-0 -z-10 opacity-30">
    <img src="/background.svg" alt="" class="w-full h-full object-cover" />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
    {allPosts.map((post) => <BlogCard entry={post} />)}
  </div>
</section>
