---
import BlogCard from "./BlogCard.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"blog">[] = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6);
---

<section id="Posts" class="container mx-auto px-6 relative">
  <div class="absolute inset-0 -z-10 opacity-30">
    <img src="/background.svg" alt="" class="w-full h-full object-cover" />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {allPosts.map((post) => <BlogCard entry={post} />)}
    <div class="flex items-center justify-center col-span-full mt-8">
      <a
        href="/blog"
        class="flex items-center justify-center primary-gradient text-white rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:opacity-90 transition"
      >
        View More
      </a>
    </div>
  </div>
</section>
