<div
  class="flex flex-col md:flex-row odd:md:flex-row-reverse items-center justify-between gap-8 md:gap-12 mb-8 pb-8 border-dashed border-b border-b-secondary"
>
  <div
    class="w-full md:max-w-[610px] aspect-[610/400] overflow-hidden border-dashed border-secondary rounded-3xl"
  >
    <img
      src="https://images.pexels.com/photos/30445480/pexels-photo-30445480.jpeg"
      alt="Project Screenshot"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="space-y-4 text-center md:text-left">
    <h3 class="uppercase text-3xl md:text-6xl">Prompt smith</h3>
    <p class="text-lg md:text-2xl text-secondary max-w-xl mx-auto md:mx-0">
      I design robust, maintainable frontend systems with a focus on component
      reusability, performance optimization, and DX that developers won’t
      secretly hate.
    </p>
  </div>
</div>
