---
import Card from "./Card.astro";
import { ScrollingText } from "./ScrollingText";

import { getCollection, type CollectionEntry } from "astro:content";

const allProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).slice(0, 3);
---

<section id="Projects" class="container mx-auto px-6">
  <div class="mb-12">
    <ScrollingText 
      text="PROJECTS" 
      className="blog-headline-gradient"
      client:load 
    />
  </div>
  {allProjects.map((project) => <Card entry={project} />)}
</section>

<style>
  /* use global .blog-headline-gradient from styles */
</style>
