---
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { SITE } from "@consts";

const allProjects: CollectionEntry<"projects">[] =
  await getCollection("projects");
---

<Layout title={SITE.TITLE} description={SITE.DESCRIPTION}>
  <section>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 lg:gap-8">
      {allProjects.map((project) => <ProjectCard entry={project} />)}
    </div>
  </section>
</Layout>
